<section id="Navigation">
  <div id="Topbar">
    <nav>
      <h1>Welcome to Gradey</h1>
    </nav>
  </div>
  <div id="Sidebar">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Gradebook</a>
  </div>